.App {
	text-align: center;
}

a {
	color: white;
	/* text-decoration: none; */
}

a:hover {
	color: white;

	cursor: pointer;
}
#root
	> form
	> div
	> div.CardField-input-wrapper.is-ready-to-slide
	> span.CardField-number.CardField-child
	> span:nth-child(2)
	> span
	> input {
	margin-left: 10%;
}
